/* This is the project stylesheet */

:root {
  /* Colors */
  --black-pr: rgba(0, 0, 0, 1);
  --classic-white-pr: rgba(255, 255, 255, 1);
  --transparent-black: rgba(0, 0, 0, 0.25);
  --white-pr: rgba(255, 253, 249, 1);

  /* Typographies */
  /* h1 */
  --h1-family: "Verdana";
  --h1-size: 18px;
  --h1-weight: 700;
  --h1-line-height: normal;

  /* main */
  --main-family: "Verdana";
  --main-size: 18px;
  --main-weight: 400;
  --main-line-height: normal;

  /* main2 */
  --main2-family: "Verdana";
  --main2-size: 14px;
  --main2-weight: 400;
  --main2-line-height: normal;
}
.bank-indonezii-two {
  background-color: var(--white-pr);
  padding: 26px 80px 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrapper-two {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}
.line-34 {
  width: 2em;
  height: 2em;
  margin-top: 13px;
  margin-right: 18px;
}
.logo-bi-1 {
  width: 55px;
  height: 55px;
  margin-right: 29px;
}
.bank-indonezii {
  color: var(--black-pr);
  text-align: justify;
  margin-top: 17px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.flex-wrapper-one {
  margin-left: 48px;
  position: relative;
}
.v-1953-godu-pravitel-stvo-indonezii-prin {
  height: 910px;
  width: 370px;
  color: var(--black-pr);
  display: flex;
  position: relative;
  font-family: var(--main2-family);
  font-size: var(--main2-size);
  font-weight: var(--main2-weight);
  line-height: var(--main2-line-height);
}
.line-46 {
  width: 185px;
  position: absolute;
  left: 0;
  bottom: 55px;
}
.num-1-https-www-bi-go-id-en-tentang-bi-s {
  height: 15px;
  width: 361px;
  color: var(--black-pr);
  display: flex;
  text-align: justify;
  position: absolute;
  left: 0;
  bottom: 15px;
  font-family: var(--main2-family);
  font-size: var(--main2-size);
  font-weight: var(--main2-weight);
  line-height: var(--main2-line-height);
}
